---
import Layout from "../layouts/Layout.astro";
---

<Layout title="swkoyo - Brandon Kim">
    <main
        class="mx-auto flex h-screen items-center justify-center font-mono text-white"
    >
        <div class="flex-col">
            <h1 class="text-4xl font-bold text-blue-300">~ swkoyo</h1>
            <br />
            <p>
                <span class="text-green-300"
                    ><span class="font-bold">&gt;</span> cat</span
                > about.txt
            </p>
            <p>
                \[._.]/ Hey there, I'm <span class="font-bold text-purple-300"
                    >Brandon Kim</span
                >
            </p>
            <p>I build software</p>
            <p>
                <a
                    class="text-blue-400 hover:underline"
                    href="https://github.com/swkoyo/nvim-config"
                    target="_blank">Neovim</a
                > btw
            </p>
            <br />
            <p>
                <span class="text-green-300">
                    <span class="font-bold">&gt;</span> cat</span
                > links.txt
            </p>
            <a
                class="text-blue-400 hover:underline"
                href="https://github.com/swkoyo"
                target="_blank"
            >
                <p>GitHub</p>
            </a>
            <a
                class="text-blue-400 hover:underline"
                href="https://linkedin.com/in/brandoncwkim"
                target="_blank"
            >
                <p>LinkedIn</p>
            </a>
            <a
                class="text-blue-400 hover:underline"
                href="https://x.com/swkoyodev"
                target="_blank"
            >
                <p>X</p>
            </a>
            <a
                class="text-blue-400 hover:underline"
                href="mailto:contact@swkoyo.com"
            >
                <p>Email</p>
            </a>
            <br />
            <div>
                <span class="font-bold text-green-400">&gt;</span>
                <span class="inline-flex w-2 animate-pulse bg-white">|</span>
            </div>
        </div>
    </main>
</Layout>
